{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-ms-12 col-md-12">
               <a href="{{ path('dogs') }}">Les chiens de la semaine</a>
            </div>
            <div class="col-ms-12 col-md-12">
                <a href="#">Nos produits à déguster</a>
            </div>
            <div class="col-ms-12 col-md-12">
                <a href="#">Passer un moment avec un chien</a>
            </div>
        </div>

    </div>

{% endblock body %}